body {
  background-color: white;
  color:#444;
  font: 24px/27px Garamond, Georgia, "Times New Roman", Times, serif;
  cursor: default;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none;
}
span {
  white-space:pre-line;
}
p {
  margin-top:0px;
}

#getTextWidth {
   position: absolute;
   visibility: hidden;
   height: auto;
   width: auto;
   white-space: pre; /* Thanks to Herb Caudill comment */
}

/* Menu Style */
.menu {
  margin: 20px 0 0 150px;
}
.menu ul{
  list-style: none;
  margin-bottom: 20px;
}
.menu ul li {
  display: inline-block;
  padding:0px 20px;
}
.menu ul li:hover{
  color:red;
}
/* End of Menu Style */

.page, .adiv, .bdiv, #overlay{
  width:100%;
}
.adiv, .bdiv, #overlay{
  position:absolute;
  top: 0;
  left: 0;
  padding:0;
}
#content{
  width: 800px;
  position: relative;
	margin-left: 200px;
	margin-right: 200px;
	margin-top: 20px;
}
.page {
  position:inherit;
  display:none;
}
.page.current {
  display:block;
}
.adiv{
  z-index: 2;
}
.bdiv {
  z-index:1;
}
.bdiv p > span {
  opacity: 0;
}
.adiv p > span {
  opacity: 1;
}
#overlay {
  opacity:0;
}
#beforeAnchorA {
  opacity: 0;
}
#beforeAnchorB span{
  white-space: nowrap;
}

/* Animation related CSS */
/* Shared span change to orange color in 0.5s */
.adiv p > span:hover .shared{
  color:orange;
  transition:color, 0.5s;
}
.active .shared{
  cursor: pointer;
}
/* aspan fade out in 0.5s to 0.05 opacity  */
.adiv p > span.hidden{
  opacity:0.05;
  transition:opacity, 0.5s;
}
/* Current anchor color */
span.anchor {
  color:green !important;
}
